In [1]:
# resources taken from https://catalog.ourworldindata.org/
import os
from owid import catalog #API from the ourworldindata
import numpy as numpy
import pandas as pd

In [2]:
#fetching the data from the api and url
rc = catalog.RemoteCatalog()
uri = "garden/covid/latest/cases_deaths/cases_deaths"
df_cases_deaths = rc[uri]

In [9]:
# Get the first five rows
df_cases_deaths.head(5)

,country,date,new_cases,total_cases,new_deaths,total_deaths,weekly_cases,weekly_deaths,weekly_pct_growth_cases,weekly_pct_growth_deaths,...,cfr_100_cases,cfr_short_term,days_since_100_total_cases,days_since_5_total_deaths,days_since_1_total_cases_per_million,days_since_0_1_total_deaths_per_million,days_since_100_total_cases_and_5m_pop,total_deaths_last12m,total_deaths_per_100k_last12m,total_deaths_per_million_last12m
0,Afghanistan,2020-01-04,0,0,0,0,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,-86,-91,-81,-91,-86,<NA>,<NA>,<NA>
1,Afghanistan,2020-01-05,0,0,0,0,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,-85,-90,-80,-90,-85,<NA>,<NA>,<NA>
2,Afghanistan,2020-01-06,0,0,0,0,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,-84,-89,-79,-89,-84,<NA>,<NA>,<NA>
3,Afghanistan,2020-01-07,0,0,0,0,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,-83,-88,-78,-88,-83,<NA>,<NA>,<NA>
4,Afghanistan,2020-01-08,0,0,0,0,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,-82,-87,-77,-87,-82,<NA>,<NA>,<NA>

In [6]:
df_cases_deaths.reset_index(inplace=True)

In [10]:
df_cases_deaths['country'] = df_cases_deaths['country'].astype(str)

In [11]:
print(df_cases_deaths.columns)

Index(['country', 'date', 'new_cases', 'total_cases', 'new_deaths',
       'total_deaths', 'weekly_cases', 'weekly_deaths',
       'weekly_pct_growth_cases', 'weekly_pct_growth_deaths', 'biweekly_cases',
       'biweekly_deaths', 'biweekly_pct_growth_cases',
       'biweekly_pct_growth_deaths', 'new_cases_per_million',
       'new_deaths_per_million', 'total_cases_per_million',
       'total_deaths_per_million', 'weekly_cases_per_million',
       'weekly_deaths_per_million', 'biweekly_cases_per_million',
       'biweekly_deaths_per_million', 'total_deaths_per_100k',
       'new_deaths_per_100k', 'new_cases_7_day_avg_right',
       'new_deaths_7_day_avg_right', 'new_cases_per_million_7_day_avg_right',
       'new_deaths_per_million_7_day_avg_right',
       'new_deaths_per_100k_7_day_avg_right', 'cfr', 'cfr_100_cases',
       'cfr_short_term', 'days_since_100_total_cases',
       'days_since_5_total_deaths', 'days_since_1_total_cases_per_million',
       'days_since_0_1_total_deaths_per_million',
       'days_since_100_total_cases_and_5m_pop', 'total_deaths_last12m',
       'total_deaths_per_100k_last12m', 'total_deaths_per_million_last12m'],
      dtype='object')

In [15]:
#making all null objects to 0 because not all of the data/columns started at the same time
df_cases_deaths.fillna(0, inplace=True)

In [16]:
# Get the data types and number of non-null values in the dataset.
df_cases_deaths.info()

2025-01-23 10:16:08 [warning  ] Different values of 'unit' detected among variables: {'cases per million people', '%', 'deaths per million people', 'cases', 'deaths', 'days', 'deaths per 100,000 people'} category=DifferentValuesWarning filename=D:\Python\Lib\site-packages\owid\catalog\variables.py lineno=360
<class 'owid.catalog.tables.Table'>
RangeIndex: 457250 entries, 0 to 457249
Data columns (total 40 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   country                                  457250 non-null  object
 1   date                                     457250 non-null  datetime64[ns]
 2   new_cases                                457250 non-null  UInt32
 3   total_cases                              457250 non-null  UInt32
 4   new_deaths                               457250 non-null  UInt16
 5   total_deaths                             457250 non-null  UInt32
 6   weekly_cases                             457250 non-null  UInt32
 7   weekly_deaths                            457250 non-null  UInt32
 8   weekly_pct_growth_cases                  457250 non-null  Float32
 9   weekly_pct_growth_deaths                 457250 non-null  Float32
 10  biweekly_cases                           457250 non-null  UInt32
 11  biweekly_deaths                          457250 non-null  UInt32
 12  biweekly_pct_growth_cases                457250 non-null  Float32
 13  biweekly_pct_growth_deaths               457250 non-null  Float32
 14  new_cases_per_million                    457250 non-null  Float32
 15  new_deaths_per_million                   457250 non-null  Float32
 16  total_cases_per_million                  457250 non-null  Float32
 17  total_deaths_per_million                 457250 non-null  Float32
 18  weekly_cases_per_million                 457250 non-null  Float32
 19  weekly_deaths_per_million                457250 non-null  Float32
 20  biweekly_cases_per_million               457250 non-null  Float32
 21  biweekly_deaths_per_million              457250 non-null  Float32
 22  total_deaths_per_100k                    457250 non-null  Float32
 23  new_deaths_per_100k                      457250 non-null  Float32
 24  new_cases_7_day_avg_right                457250 non-null  Float32
 25  new_deaths_7_day_avg_right               457250 non-null  Float32
 26  new_cases_per_million_7_day_avg_right    457250 non-null  Float32
 27  new_deaths_per_million_7_day_avg_right   457250 non-null  Float32
 28  new_deaths_per_100k_7_day_avg_right      457250 non-null  Float32
 29  cfr                                      457250 non-null  Float32
 30  cfr_100_cases                            457250 non-null  Float32
 31  cfr_short_term                           457250 non-null  Float32
 32  days_since_100_total_cases               457250 non-null  Int16
 33  days_since_5_total_deaths                457250 non-null  Int16
 34  days_since_1_total_cases_per_million     457250 non-null  Int16
 35  days_since_0_1_total_deaths_per_million  457250 non-null  Int16
 36  days_since_100_total_cases_and_5m_pop    457250 non-null  Int16
 37  total_deaths_last12m                     457250 non-null  Int32
 38  total_deaths_per_100k_last12m            457250 non-null  Float32
 39  total_deaths_per_million_last12m         457250 non-null  Float32
dtypes: Float32(24), Int16(5), Int32(1), UInt16(1), UInt32(7), datetime64[ns](1), object(1)
memory usage: 84.6+ MB

In [17]:
df_cases_deaths.head(5)

,country,date,new_cases,total_cases,new_deaths,total_deaths,weekly_cases,weekly_deaths,weekly_pct_growth_cases,weekly_pct_growth_deaths,...,cfr_100_cases,cfr_short_term,days_since_100_total_cases,days_since_5_total_deaths,days_since_1_total_cases_per_million,days_since_0_1_total_deaths_per_million,days_since_100_total_cases_and_5m_pop,total_deaths_last12m,total_deaths_per_100k_last12m,total_deaths_per_million_last12m
0,Afghanistan,2020-01-04,0,0,0,0,0,0,0.0,0.0,...,0.0,0.0,-86,-91,-81,-91,-86,0,0.0,0.0
1,Afghanistan,2020-01-05,0,0,0,0,0,0,0.0,0.0,...,0.0,0.0,-85,-90,-80,-90,-85,0,0.0,0.0
2,Afghanistan,2020-01-06,0,0,0,0,0,0,0.0,0.0,...,0.0,0.0,-84,-89,-79,-89,-84,0,0.0,0.0
3,Afghanistan,2020-01-07,0,0,0,0,0,0,0.0,0.0,...,0.0,0.0,-83,-88,-78,-88,-83,0,0.0,0.0
4,Afghanistan,2020-01-08,0,0,0,0,0,0,0.0,0.0,...,0.0,0.0,-82,-87,-77,-87,-82,0,0.0,0.0

In [19]:
#showing the last five rows
df_cases_deaths.tail(5)

,country,date,new_cases,total_cases,new_deaths,total_deaths,weekly_cases,weekly_deaths,weekly_pct_growth_cases,weekly_pct_growth_deaths,...,cfr_100_cases,cfr_short_term,days_since_100_total_cases,days_since_5_total_deaths,days_since_1_total_cases_per_million,days_since_0_1_total_deaths_per_million,days_since_100_total_cases_and_5m_pop,total_deaths_last12m,total_deaths_per_100k_last12m,total_deaths_per_million_last12m
457245,Zimbabwe,2025-01-01,0,266399,0,5740,0,0,0.0,0.0,...,2.154663,0.0,1681,1763,1723,1763,1681,3,0.018669,0.186694
457246,Zimbabwe,2025-01-02,0,266399,0,5740,0,0,0.0,0.0,...,2.154663,0.0,1682,1764,1724,1764,1682,3,0.018669,0.186694
457247,Zimbabwe,2025-01-03,0,266399,0,5740,0,0,0.0,0.0,...,2.154663,0.0,1683,1765,1725,1765,1683,3,0.018669,0.186694
457248,Zimbabwe,2025-01-04,0,266399,0,5740,0,0,0.0,0.0,...,2.154663,0.0,1684,1766,1726,1766,1684,3,0.018669,0.186694
457249,Zimbabwe,2025-01-05,0,266399,0,5740,0,0,0.0,0.0,...,2.154663,0.0,1685,1767,1727,1767,1685,3,0.018669,0.186694

In [20]:
df_cases_deaths.to_csv('cases_deaths.csv', index=False)

In [71]:
uri = "garden/covid/latest/testing/testing"
df_testing = rc[uri]

In [72]:
df_testing.head(5)

                        total_tests  new_tests  total_tests_per_thousand  \
country     date
Afghanistan 2022-01-29       853003       <NA>                 21.271999
            2022-01-30         <NA>       <NA>                      <NA>
            2022-01-31         <NA>       <NA>                      <NA>
            2022-02-01         <NA>       <NA>                      <NA>
            2022-02-02         <NA>       <NA>                      <NA>

                        new_tests_per_thousand  new_tests_7day_smoothed  \
country     date
Afghanistan 2022-01-29                    <NA>                     <NA>
            2022-01-30                    <NA>                     <NA>
            2022-01-31                    <NA>                     <NA>
            2022-02-01                    <NA>                     <NA>
            2022-02-02                    <NA>                     <NA>

                        new_tests_per_thousand_7day_smoothed
country     date
Afghanistan 2022-01-29                                  <NA>
            2022-01-30                                  <NA>
            2022-01-31                                  <NA>
            2022-02-01                                  <NA>
            2022-02-02                                  <NA>

In [73]:
df_testing.reset_index(inplace=True)

drop most of the columns because they are rolling sums which are already set in stone and I also drop some on cases_deaths.csv on excel

In [74]:
df_testing['country'] = df_testing['country'].astype(str)

In [75]:
df_testing['date'] = pd.to_datetime(df_testing['date'].astype(str), errors='coerce')

In [76]:
df_testing.info()

<class 'owid.catalog.tables.Table'>
RangeIndex: 106788 entries, 0 to 106787
Data columns (total 8 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   country                               106788 non-null  object
 1   date                                  106788 non-null  datetime64[ns]
 2   total_tests                           79387 non-null   Int64
 3   new_tests                             75403 non-null   UInt32
 4   total_tests_per_thousand              79387 non-null   Float32
 5   new_tests_per_thousand                75403 non-null   Float32
 6   new_tests_7day_smoothed               103965 non-null  UInt32
 7   new_tests_per_thousand_7day_smoothed  103965 non-null  Float32
dtypes: Float32(3), Int64(1), UInt32(2), datetime64[ns](1), object(1)
memory usage: 5.1+ MB

In [77]:
df_testing.fillna(0, inplace=True)

In [78]:
df_testing = df_testing.drop(columns=['total_tests', 'total_tests_per_thousand','new_tests_per_thousand','new_tests_7day_smoothed','new_tests_per_thousand_7day_smoothed'], axis=1)

In [79]:
display(df_testing)

            country       date  new_tests
0       Afghanistan 2022-01-29          0
1       Afghanistan 2022-01-30          0
2       Afghanistan 2022-01-31          0
3       Afghanistan 2022-02-01          0
4       Afghanistan 2022-02-02          0
...             ...        ...        ...
106783     Zimbabwe 2022-06-18          0
106784     Zimbabwe 2022-06-19          0
106785     Zimbabwe 2022-06-20          0
106786     Zimbabwe 2022-06-21          0
106787     Zimbabwe 2022-06-22          0

[106788 rows x 3 columns]

In [52]:
df_testing.to_csv('tests_covid.csv', index=False)

In [80]:
uri = "garden/covid/latest/vaccinations_global/vaccinations_global"
df_vaxx = rc[uri]

In [81]:
df_vaxx.head(5)

                        total_vaccinations  people_vaccinated  \
country     date
Afghanistan 2021-02-22                 0.0                0.0
            2021-02-23                <NA>               <NA>
            2021-02-24                <NA>               <NA>
            2021-02-25                <NA>               <NA>
            2021-02-26                <NA>               <NA>

                        people_fully_vaccinated  total_boosters  \
country     date
Afghanistan 2021-02-22                     <NA>            <NA>
            2021-02-23                     <NA>            <NA>
            2021-02-24                     <NA>            <NA>
            2021-02-25                     <NA>            <NA>
            2021-02-26                     <NA>            <NA>

                        daily_vaccinations  daily_vaccinations_smoothed  \
country     date
Afghanistan 2021-02-22                <NA>                         <NA>
            2021-02-23                <NA>                  1366.666626
            2021-02-24                <NA>                  1366.666626
            2021-02-25                <NA>                  1366.666626
            2021-02-26                <NA>                  1366.666626

                        daily_people_vaccinated_smoothed  \
country     date
Afghanistan 2021-02-22                              <NA>
            2021-02-23                       1366.666626
            2021-02-24                       1366.666626
            2021-02-25                       1366.666626
            2021-02-26                       1366.666626

                        total_vaccinations_per_hundred  \
country     date
Afghanistan 2021-02-22                             0.0
            2021-02-23                            <NA>
            2021-02-24                            <NA>
            2021-02-25                            <NA>
            2021-02-26                            <NA>

                        people_vaccinated_per_hundred  \
country     date
Afghanistan 2021-02-22                            0.0
            2021-02-23                           <NA>
            2021-02-24                           <NA>
            2021-02-25                           <NA>
            2021-02-26                           <NA>

                        people_fully_vaccinated_per_hundred  ...  \
country     date                                             ...
Afghanistan 2021-02-22                                 <NA>  ...
            2021-02-23                                 <NA>  ...
            2021-02-24                                 <NA>  ...
            2021-02-25                                 <NA>  ...
            2021-02-26                                 <NA>  ...

                        people_fully_vaccinated_interpolated  \
country     date
Afghanistan 2021-02-22                               55624.0
            2021-02-23                               55624.0
            2021-02-24                               55624.0
            2021-02-25                               55624.0
            2021-02-26                               55624.0

                        total_boosters_interpolated  \
country     date
Afghanistan 2021-02-22                          0.0
            2021-02-23                          0.0
            2021-02-24                          0.0
            2021-02-25                          0.0
            2021-02-26                          0.0

                        total_vaccinations_no_boosters_interpolated  \
country     date
Afghanistan 2021-02-22                                          0.0
            2021-02-23                                  1366.666626
            2021-02-24                                  2733.333252
            2021-02-25                                       4100.0
            2021-02-26                                  5466.666504

                        total_vaccinations_no_boosters_per_hundred_interpolated  \
country     date
Afghanistan 2021-02-22                                               <NA>
            2021-02-23                                               <NA>
            2021-02-24                                               <NA>
            2021-02-25                                               <NA>
            2021-02-26                                               <NA>

                        rolling_vaccinations_6m  \
country     date
Afghanistan 2021-02-22                     <NA>
            2021-02-23              1366.666626
            2021-02-24              2733.333252
            2021-02-25                   4100.0
            2021-02-26              5466.666504

                        rolling_vaccinations_6m_per_hundred  \
country     date
Afghanistan 2021-02-22                                 <NA>
            2021-02-23                             0.003368
            2021-02-24                             0.006736
            2021-02-25                             0.010104
            2021-02-26                             0.013472

                        rolling_vaccinations_9m  \
country     date
Afghanistan 2021-02-22                     <NA>
            2021-02-23              1366.666626
            2021-02-24              2733.333252
            2021-02-25                   4100.0
            2021-02-26              5466.666504

                        rolling_vaccinations_9m_per_hundred  \
country     date
Afghanistan 2021-02-22                                 <NA>
            2021-02-23                             0.003368
            2021-02-24                             0.006736
            2021-02-25                             0.010104
            2021-02-26                             0.013472

                        rolling_vaccinations_12m  \
country     date
Afghanistan 2021-02-22                      <NA>
            2021-02-23               1366.666626
            2021-02-24               2733.333252
            2021-02-25                    4100.0
            2021-02-26               5466.666504

                        rolling_vaccinations_12m_per_hundred
country     date
Afghanistan 2021-02-22                                  <NA>
            2021-02-23                              0.003368
            2021-02-24                              0.006736
            2021-02-25                              0.010104
            2021-02-26                              0.013472

[5 rows x 27 columns]

In [82]:
df_vaxx.reset_index(inplace=True)

In [85]:
df_vaxx.to_csv('vaxxed.csv', index=False)